.questionWrapper {
  margin: 50px 100px;
  border: 1px solid grey;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expression {
  display: flex;
}

.firstNumber,.secondNumber,.multiplier,.equal,.result,.timer,.idx {
  font-size: 30px;
  font-weight: 600;
}

.multiplier {
  padding: 0 10px;
}

.equal {
  padding: 0 10px;
}

.answer,.result {
  margin-right: 40px;
}

.result{
  margin-left: 40px;
}

.correct {
  color: green;
}

.incorrect {
  color: tomato;
}

.timer {
  margin-left: 200px;
}

.idx {
  margin-right: 60px;
}