.App {
  text-align: center;
  min-height: 100vh;
  padding-bottom: 300px;
}

.answers {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
}

h4:first-child.correctAmount {
  color: green;
  margin: calc(2rem - .14285714em) 0 1rem;
}

.questionsAmount {
  color: indigo;
}

.wrongAmount {
  color: tomato;
}

.title {
  margin-top: 20px !important;
}
